# Entorno Django
DEBUG=True
SECRET_KEY=django-insecure-erp-olivo-secure-key-change-in-production-2025-x98
ALLOWED_HOSTS=*

# Base de datos PostgreSQL
DB_NAME=erp_olivo_db
DB_USER=erp_user
DB_PASSWORD=erp_password_secret
DB_HOST=localhost
DB_PORT=5432

# Celery & Redis
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
